.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: stretch;
}

.middle-box {
  min-height: 400px;
  width: 500px;
  background: #ffffff;
  box-sizing: border-box;
  padding: 50px 100px 50px 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.middle-box .middle-title {
  font-size: xx-large;
  color: #333;
  margin-bottom: 10px;
}

.span {
  height: 20px;
}
